@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --dark: #00002e;
    --light: #7a7aff;
}

* {
    color: white;
    background-color: var(--dark);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.active {
    border-bottom: 3px solid var(--light);
}